@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.Second-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 130vh;
  position: relative;
  top: 2rem;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

.My-wedding {
  width: 240px;
  font-family: "Great Vibes", cursive;
  font-size: 65px;
}

.Wedding {
  margin-left: 7rem;
}

.Date {
  font-size: 20px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
}

.Date p {
  margin-left: 5rem;
  font-size: 18px;
}

.Date h1 {
  font-size: 35px;
}

.dos {
  margin-left: 6rem;
}

.Counter {
  width: 38rem;
  height: 6rem;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 25px;
  margin-left: 2rem;
  background-color: rgba(128, 128, 128, 0.108);
}

.days1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.days {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.hours1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.hours {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.minutes1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.minutes {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.seconds1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.seconds {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.Flowers img {
  width: 18rem;
}

.Third-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 120vh;
}

.Schedule {
  width: 240px;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  margin-bottom: 2rem;
}

.Ceremony {
  display: flex;
}

.Ceremony a {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.CereText {
  font-size: 20px;
  width: 17rem;
}

.CereImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CereImage img {
  width: 6rem;
}

.CereText h1 {
  font-size: 30px;
}

.CereImage a:hover {
  color: rgb(11, 11, 112);
}

.CereImage button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.Cheers {
  display: flex;
}

.Cheers a {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.Cheers a:hover {
  color: rgb(11, 11, 112);
}

.CheersText {
  font-size: 20px;
  width: 17.5rem;
}

.CheersText h1 {
  font-size: 32px;
}

.p1 {
  font-size: 20px;
}

.p2 {
  font-size: 20px;
  cursor: pointer;
}

.p3 {
  font-size: 19px;
}

.p4 {
  font-size: 20px;
}

.Flowers1 img {
  width: 18rem;
}

.Fourth-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 140vh;
}

.DressCode {
  width: 425px;
  font-family: "Great Vibes", cursive;
  font-size: 29px;
  margin-bottom: 2rem;
}

.Dressing {
  display: flex;
}

.Traje {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Traje img {
  width: 6rem;
}

.Formal {
  font-size: 16px;
}

.Dress {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Dress img {
  width: 6rem;
}

.Presents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.Presents h1 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.Presents p {
  font-size: 22px;
}

.presents-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.liverpool img {
  height: 6rem;
  width: 17rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.liverpool :hover {
  transform: scale(1.15);
}

.amazon img {
  height: 6rem;
  width: 17rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.amazon :hover {
  transform: scale(1.15);
}

.Fifth-Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 165vh;
}

.funny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funny img {
  width: 15rem;
}

.funny h1 {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
}

.funny p {
  font-size: 20px;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  margin-left: 5rem;
  height: 20rem;
  background-color: rgba(128, 128, 128, 0.096);
}

.Form form {
  width: 40rem;
}

.Form button {
  width: 4rem;
  height: 1.8rem;
}

.name {
  font-size: 2.7rem;
}

.confirmation {
  font-size: 1rem;
}

.middle {
  font-size: 2.7rem;
}

.input {
  width: 40rem;
  height: 2rem;
  border-radius: 6px;
  padding-left: 1rem;
}

.funny1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
}

.funny1 p {
  font-size: 20px;
}

.funny1 img {
  width: 15rem;
}

@media (max-width: 320px) {
  .slider {
    max-width: 320px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides img {
    max-width: 320px;
  }

  .navigation-manual {
    position: absolute;
    max-width: 320px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 320px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .My-wedding {
    font-size: 52px;
    position: relative;
    left: 0.7rem;
    bottom: 2.5rem;
  }

  .Date {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
  }

  .Date p {
    font-size: 21px;
    position: relative;
    right: 2rem;
  }

  .Date h1 {
    font-size: 23px;
    position: relative;
    left: 0.2rem;
  }

  .Guadalajara {
    position: relative;
    bottom: 0.2rem;
  }

  .Counter {
    width: 18rem;
    position: relative;
    right: 0.8rem;
  }

  .days1 {
    width: 4rem;
  }

  .days {
    font-size: 18px;
    width: 2.7rem;
    height: 2.7rem;
  }

  .days1 small {
    font-size: 15px;
  }

  .hours1 {
    width: 4rem;
  }

  .hours {
    font-size: 18px;
    width: 2.7rem;
    height: 2.7rem;
  }

  .hours1 small {
    font-size: 15px;
  }

  .minutes1 {
    width: 4rem;
  }

  .minutes {
    font-size: 18px;
    width: 2.7rem;
    height: 2.7rem;
  }

  .minutes1 small {
    font-size: 15px;
  }

  .seconds1 {
    width: 4rem;
  }

  .seconds {
    font-size: 18px;
    width: 2.7rem;
    height: 2.7rem;
  }

  .seconds1 small {
    font-size: 15px;
  }

  .Flowers img {
    width: 13rem;
    position: relative;
    left: 0.5rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 55px;
    position: relative;
    left: 2rem;
  }

  .Schedule1 {
    position: relative;
    right: 0rem;
    width: 20rem;
  }

  .CereImage {
    position: relative;
    right: 1.5rem;
    width: 13rem;
  }

  .CereImage img {
    width: 4rem;
  }

  .CereImage p {
    font-size: 20px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 19px;
  }

  .Ceremony {
    width: 18rem;
    position: relative;
    left: 2rem;
  }

  .Cheers {
    width: 18rem;
    position: relative;
    left: 2rem;
    top: 0.7rem;
  }

  .CereText {
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.2rem;
  }

  .CereText h1 {
    font-size: 18.5px;
  }

  .CereText h2 {
    font-size: 16.5px;
  }

  .CereText p {
    font-size: 16px;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CheersText h1 {
    font-size: 18.5px;
  }

  .CheersText h2 {
    font-size: 16.5px;
  }

  .CheersText p {
    font-size: 16.5px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 img {
    width: 13rem;
    position: relative;
    top: 1rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 18rem;
    font-size: 41px;
  }

  .Formal {
    font-size: 13px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 5rem;
  }

  .Traje p {
    font-size: 16px;
  }

  .Dress img {
    width: 5rem;
  }

  .Dress p {
    font-size: 16px;
  }

  .Presents {
    width: 18rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 0.5rem;
    left: 1.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 37px;
  }

  .Presents p {
    font-size: 20px;
    width: 18rem;
  }

  .presents-table img {
    width: 8rem;
    height: 5rem;
  }

  .liverpool {
    position: relative;
    left: 1.5rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 1rem;
  }

  .Fifth-Background {
    position: relative;
    left: 0rem;
  }

  .funny {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny .attendance {
    font-size: 41px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 0.5rem;
  }

  .funny .phrase {
    font-size: 17.5px;
    position: relative;
    bottom: 0.4rem;
    width: 18rem;
  }

  .funny img {
    position: relative;
    width: 13rem;
  }

  .Form {
    width: 18rem;
    height: 18rem;
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
  }

  .Form form {
    width: 17rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 2rem;
  }

  .confirmation input {
    background-color: red;
  }

  .options {
    display: flex;
  }

  .div label {
    font-size: 27px;
  }

  .div {
    position: relative;
    left: 2rem;
    width: 17rem;
  }

  .input {
    width: 17rem;
  }

  .div1 {
    width: 17rem;
    position: relative;
    left: 2rem;
    top: 0.8rem;
  }

  .div2 {
    width: 17rem;
  }

  .yes {
    width: 8rem;
    display: flex;
  }

  .no {
    width: 9rem;
    display: flex;
  }

  .yes label {
    font-size: 18px;
  }

  .no label {
    font-size: 18px;
  }

  #Si {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  #No {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  .input1 {
    width: 2rem;
  }

  .input2 {
    width: 4rem;
  }

  .div1 strong {
    font-size: 27px;
  }

  .div2 {
    position: relative;
    left: 2rem;
    top: 0.3rem;
  }

  .div2 label {
    font-size: 27px;
  }

  .Form button {
    position: relative;
    left: 2.2rem;
  }

  .funny1 {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny1 p {
    font-size: 17.5px;
    position: relative;
    bottom: -0.4rem;
    width: 17rem;
  }
}

@media (min-width: 321px) {
  .First-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    max-width: 320px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides img {
    max-width: 320px;
    height: 400px;
    position: relative;
    top: 3rem;
  }

  .navigation-manual {
    position: absolute;
    max-width: 320px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 320px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .My-wedding {
    font-size: 57px;
    position: relative;
    left: 0.7rem;
    bottom: 2.5rem;
  }

  .Date {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
  }

  .Date p {
    font-size: 23px;
    position: relative;
    right: 2rem;
  }

  .Date h1 {
    font-size: 25px;
    position: relative;
    left: 0.2rem;
  }

  .Guadalajara {
    position: relative;
    bottom: 0.2rem;
  }

  .Counter {
    width: 19rem;
    position: relative;
    right: 0.8rem;
  }

  .days1 {
    width: 4rem;
  }

  .days {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .days1 small {
    font-size: 16px;
  }

  .hours1 {
    width: 4rem;
  }

  .hours {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .hours1 small {
    font-size: 16px;
  }

  .minutes1 {
    width: 4rem;
  }

  .minutes {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .minutes1 small {
    font-size: 16px;
  }

  .seconds1 {
    width: 4rem;
  }

  .seconds {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .seconds1 small {
    font-size: 16px;
  }

  .Flowers img {
    width: 14rem;
    position: relative;
    left: 0.5rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 57px;
    position: relative;
    left: 2rem;
  }

  .Schedule1 {
    position: relative;
    right: 0rem;
    width: 20rem;
  }

  .CereImage {
    position: relative;
    right: 1.5rem;
    width: 13rem;
  }

  .CereImage img {
    width: 4rem;
  }

  .CereImage p {
    font-size: 22px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 20px;
  }

  .Ceremony {
    width: 18rem;
    position: relative;
    left: 2rem;
  }

  .Cheers {
    width: 18rem;
    position: relative;
    left: 2rem;
    top: 0.7rem;
  }

  .CereText {
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.2rem;
  }

  .CereText h1 {
    font-size: 20px;
  }

  .CereText h2 {
    font-size: 18px;
  }

  .CereText p {
    font-size: 17px;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CheersText h1 {
    font-size: 20px;
  }

  .CheersText h2 {
    font-size: 18px;
  }

  .CheersText p {
    font-size: 17px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 img {
    width: 14.5rem;
    position: relative;
    top: 1.5rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 19rem;
    font-size: 43px;
    position: relative;
    right: 0.3rem;
  }

  .Formal {
    font-size: 16px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 5.5rem;
  }

  .Traje p {
    font-size: 18px;
  }

  .Dress img {
    width: 5.5rem;
  }

  .Dress p {
    font-size: 18px;
  }

  .Presents {
    width: 18rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 0.5rem;
    left: 1.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 38px;
    width: 16rem;
  }

  .Presents p {
    font-size: 20.5px;
    width: 18rem;
  }

  .presents-table img {
    width: 8.5rem;
    height: 5rem;
  }

  .presents-table {
    width: 20rem;
  }

  .liverpool {
    position: relative;
    left: 1.3rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 1.2rem;
  }

  .Fifth-Background {
    position: relative;
    left: 0rem;
    top: 12rem;
  }

  .funny {
    position: relative;
    left: 0rem;
  }

  .funny .attendance {
    font-size: 43px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 0.5rem;
  }

  .funny .phrase {
    font-size: 18.5px;
    position: relative;
    bottom: 0.4rem;
    width: 18rem;
  }

  .funny img {
    position: relative;
    width: 15rem;
  }

  .Form {
    width: 19.5rem;
    height: 19rem;
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
  }

  .Form form {
    width: 17rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 2rem;
  }

  .confirmation input {
    background-color: red;
  }

  .options {
    display: flex;
  }

  .div label {
    font-size: 29px;
  }

  .div {
    position: relative;
    left: 2rem;
    width: 17rem;
  }

  .input {
    width: 17rem;
  }

  .div1 {
    width: 18rem;
    position: relative;
    left: 2rem;
    top: 0.8rem;
  }

  .div2 {
    width: 17rem;
  }

  .yes {
    width: 9rem;
    display: flex;
  }

  .no {
    width: 10rem;
    display: flex;
  }

  .yes label {
    font-size: 19px;
  }

  .no label {
    font-size: 19px;
  }

  #Si {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  #No {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  .input1 {
    width: 2rem;
  }

  .input2 {
    width: 2rem;
  }

  .div1 strong {
    font-size: 29px;
  }

  .div2 {
    position: relative;
    left: 2rem;
    top: 0.3rem;
  }

  .div2 label {
    font-size: 29px;
  }

  .Form button {
    position: relative;
    left: 2.2rem;
    width: 4.5rem;
    height: 2rem;
    font-size: 16px;
  }

  .funny1 {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny1 img {
    width: 15rem;
  }

  .funny1 p {
    font-size: 18.5px;
    position: relative;
    bottom: -0.4rem;
    width: 17rem;
  }
}

@media (min-width: 390px) and (orientation: landscape) {

  .slide {
    position: relative;
    bottom: 3.5rem;
  }

  .navigation-manual{
    position: relative;
    bottom: 1.5rem;
  }

   .navigation-auto{
    position: relative;
    bottom: 1.5rem;
  }

  .My-wedding p {
    font-size: 50px;
  }

  .Second-Background {
    position: relative;
    top: 3rem;
  }

  .Third-Background {
    position: relative;
    top: 12rem;
  }

   .Fourth-Background {
    position: relative;
    top: 23rem;
  }


  .Fifth-Background {
    position: relative;
    top: 34rem;
  }

}

@media (min-width: 390px) {
  .First-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    max-width: 320px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides img {
    max-width: 320px;
    height: 430px;
    position: relative;
    top: 2rem;
  }

  .navigation-manual {
    position: absolute;
    max-width: 320px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 320px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .My-wedding {
    font-size: 57px;
    position: relative;
    left: 0.7rem;
    bottom: 2.5rem;
  }

  .Date {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
  }

  .Date p {
    font-size: 23px;
    position: relative;
    right: 2rem;
  }

  .Date h1 {
    font-size: 25px;
    position: relative;
    left: 0.2rem;
  }

  .Guadalajara {
    position: relative;
    bottom: 0.2rem;
  }

  .Counter {
    width: 19rem;
    position: relative;
    right: 0.8rem;
  }

  .days1 {
    width: 4rem;
  }

  .days {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .days1 small {
    font-size: 16px;
  }

  .hours1 {
    width: 4rem;
  }

  .hours {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .hours1 small {
    font-size: 16px;
  }

  .minutes1 {
    width: 4rem;
  }

  .minutes {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .minutes1 small {
    font-size: 16px;
  }

  .seconds1 {
    width: 4rem;
  }

  .seconds {
    font-size: 19px;
    width: 2.8rem;
    height: 2.8rem;
  }

  .seconds1 small {
    font-size: 16px;
  }

  .Flowers img {
    width: 14rem;
    position: relative;
    left: 0.5rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 57px;
    position: relative;
    left: 2rem;
  }

  .Schedule1 {
    position: relative;
    right: 0rem;
    width: 20rem;
  }

  .CereImage {
    position: relative;
    right: 1.5rem;
    width: 13rem;
  }

  .CereImage img {
    width: 4rem;
  }

  .CereImage p {
    font-size: 22px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 20px;
  }

  .Ceremony {
    width: 18rem;
    position: relative;
    left: 2rem;
  }

  .Cheers {
    width: 18rem;
    position: relative;
    left: 2rem;
    top: 0.7rem;
  }

  .CereText {
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.2rem;
  }

  .CereText h1 {
    font-size: 20px;
  }

  .CereText h2 {
    font-size: 18px;
  }

  .CereText p {
    font-size: 17px;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CheersText h1 {
    font-size: 20px;
  }

  .CheersText h2 {
    font-size: 18px;
  }

  .CheersText p {
    font-size: 17px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 img {
    width: 14.5rem;
    position: relative;
    top: 1.5rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 19rem;
    font-size: 43px;
    position: relative;
    right: 0.3rem;
  }

  .Formal {
    font-size: 16px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 5.5rem;
  }

  .Traje p {
    font-size: 18px;
  }

  .Dress img {
    width: 5.5rem;
  }

  .Dress p {
    font-size: 18px;
  }

  .Presents {
    width: 18rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 0.5rem;
    left: 1.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 38px;
    width: 16rem;
  }

  .Presents p {
    font-size: 20.5px;
    width: 18rem;
  }

  .presents-table img {
    width: 8.5rem;
    height: 5rem;
  }

  .presents-table {
    width: 20rem;
  }

  .liverpool {
    position: relative;
    left: 1.3rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 1.2rem;
  }

  .Fifth-Background {
    position: relative;
    left: 0rem;
  }

  .funny {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny .attendance {
    font-size: 43px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 0.5rem;
  }

  .funny .phrase {
    font-size: 18.5px;
    position: relative;
    bottom: 0.4rem;
    width: 18rem;
  }

  .funny img {
    position: relative;
    width: 15rem;
  }

  .Form {
    width: 19.5rem;
    height: 19rem;
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
  }

  .Form form {
    width: 17rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 2rem;
  }

  .confirmation input {
    background-color: red;
  }

  .options {
    display: flex;
  }

  .div label {
    font-size: 29px;
  }

  .div {
    position: relative;
    left: 2rem;
    width: 17rem;
  }

  .input {
    width: 17rem;
  }

  .div1 {
    width: 18rem;
    position: relative;
    left: 2rem;
    top: 0.8rem;
  }

  .div2 {
    width: 17rem;
  }

  .yes {
    width: 9rem;
    display: flex;
  }

  .no {
    width: 10rem;
    display: flex;
  }

  .yes label {
    font-size: 19px;
  }

  .no label {
    font-size: 19px;
  }

  #Si {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  #No {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  .input1 {
    width: 2rem;
  }

  .input2 {
    width: 2rem;
  }

  .div1 strong {
    font-size: 29px;
  }

  .div2 {
    position: relative;
    left: 2rem;
    top: 0.3rem;
  }

  .div2 label {
    font-size: 29px;
  }

  .Form button {
    position: relative;
    left: 2.2rem;
    width: 4.5rem;
    height: 2rem;
    font-size: 16px;
  }

  .funny1 {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny1 img {
    width: 15rem;
  }

  .funny1 p {
    font-size: 18.5px;
    position: relative;
    bottom: -0.4rem;
    width: 17rem;
  }
}

@media (min-width: 576px) {
  .First-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .slider {
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides img {
    max-width: 500px;
    height: 430px;
    position: relative;
    top: 2.3rem;
  }

  .navigation-manual {
    position: absolute;
    max-width: 500px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 500px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .My-wedding {
    font-size: 63px;
    position: relative;
    left: 0.7rem;
    bottom: 2.5rem;
  }

  .Date {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
  }

  .Date p {
    font-size: 26px;
    position: relative;
    right: 2rem;
  }

  .Date h1 {
    font-size: 28px;
    position: relative;
    left: 0.2rem;
  }

  .Guadalajara {
    position: relative;
    bottom: 0.2rem;
  }

  .Counter {
    width: 32rem;
    position: relative;
    right: 0.8rem;
  }

  .days1 {
    width: 4rem;
    position: relative;
    left: 1.3rem;
  }

  .days {
    font-size: 22px;
    width: 3.3rem;
    height: 3.3rem;
  }

  .days1 small {
    font-size: 16px;
  }

  .hours1 {
    width: 4rem;
    position: relative;
    left: 1.3rem;
  }

  .hours {
    font-size: 22px;
    width: 3.3rem;
    height: 3.3rem;
  }

  .hours1 small {
    font-size: 16px;
  }

  .minutes1 {
    width: 4rem;
    position: relative;
    left: 1.5rem;
  }

  .minutes {
    font-size: 22px;
    width: 3.3rem;
    height: 3.3rem;
  }

  .minutes1 small {
    font-size: 16px;
  }

  .seconds1 {
    width: 4rem;
    position: relative;
    left: 2rem;
  }

  .seconds {
    font-size: 22px;
    width: 3.3rem;
    height: 3.3rem;
  }

  .seconds1 small {
    font-size: 16px;
  }

  .Flowers img {
    width: 16rem;
    position: relative;
    left: 0.5rem;
    top: 1rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 63px;
    position: relative;
    left: 2rem;
  }

  .Schedule1 {
    position: relative;
    right: 0rem;
    width: 20rem;
  }

  .CereImage {
    position: relative;
    right: 1.5rem;
    width: 13rem;
  }

  .CereImage img {
    width: 5.5rem;
  }

  .CereImage p {
    font-size: 24px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 24px;
  }

  .Ceremony {
    width: 32rem;
    position: relative;
    left: -6rem;
  }

  .Cheers {
    width: 32rem;
    position: relative;
    left: -6rem;
  }

  .CereText {
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.2rem;
  }

  .CereText h1 {
    font-size: 30px;
  }

  .CereText h2 {
    font-size: 25px;
  }

  .CereText p {
    font-size: 22px;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CheersText h1 {
    font-size: 30px;
  }

  .CheersText h2 {
    font-size: 25px;
  }

  .CheersText p {
    font-size: 22px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 img {
    width: 16.5rem;
    position: relative;
    top: 1.5rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 29rem;
    font-size: 60px;
    position: relative;
    right: 4rem;
  }

  .Formal {
    font-size: 19px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 6.5rem;
  }

  .Traje p {
    font-size: 22px;
  }

  .Dress img {
    width: 6.5rem;
  }

  .Dress p {
    font-size: 22px;
  }

  .Flowers3 img {
    width: 16rem;
  }

  .Presents {
    width: 18rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 0.5rem;
    left: 1.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    width: 20rem;
  }

  .Presents p {
    font-size: 22px;
    width: 29rem;
    position: relative;
    bottom: 0.7rem;
  }

  .presents-table img {
    width: 12.5rem;
    height: 6rem;
    position: relative;
    right: 4rem;
  }

  .presents-table {
    width: 20rem;
  }

  .liverpool {
    position: relative;
    left: 1.3rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 1.2rem;
  }

  .Fifth-Background {
    position: relative;
    left: 0rem;
  }

  .funny {
    position: relative;
    left: 0rem;
    width: 24rem;
  }

  .funny .attendance {
    font-size: 53px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 0.5rem;
  }

  .funny .phrase {
    font-size: 22px;
    position: relative;
    bottom: 0.4rem;
    width: 32rem;
  }

  .funny img {
    position: relative;
    width: 16rem;
  }

  .Form {
    width: 32.5rem;
    height: 22rem;
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
  }

  .Form form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0rem;
  }

  .confirmation input {
    background-color: red;
  }

  .options {
    display: flex;
  }

  .div label {
    font-size: 33px;
  }

  .div {
    position: relative;
    left: 2rem;
    width: 17rem;
    bottom: 1rem;
  }

  .input {
    width: 27rem;
    height: 2.5rem;
  }

  .div1 {
    width: 28rem;
    position: relative;
    left: 2rem;
    top: -0rem;
  }

  .div2 {
    width: 17rem;
  }

  .yes {
    width: 9rem;
    display: flex;
  }

  .no {
    width: 10rem;
    display: flex;
    position: relative;
    left: 2rem;
  }

  .yes label {
    font-size: 25px;
  }

  .no label {
    font-size: 25px;
  }

  #Si {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  #No {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  .input1 {
    width: 2rem;
  }

  .input2 {
    width: 2rem;
  }

  .div1 strong {
    font-size: 33px;
  }

  .div2 {
    position: relative;
    left: 2rem;
    top: 0.3rem;
  }

  .div2 label {
    font-size: 33px;
  }

  .Form button {
    position: relative;
    left: 2.2rem;
    width: 5rem;
    height: 2.5rem;
    font-size: 18px;
  }

  .funny1 {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny1 img {
    width: 16rem;
  }

  .funny1 p {
    font-size: 22px;
    position: relative;
    bottom: -0.4rem;
    width: 32rem;
  }
}

@media (min-width: 768px) {
  .First-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .slider {
    max-width: 600px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides img {
    max-width: 600px;
    height: 430px;
    position: relative;
    top: 2.3rem;
  }

  .navigation-manual {
    position: absolute;
    max-width: 600px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 600px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .My-wedding {
    font-size: 73px;
    position: relative;
    left: 0.7rem;
    bottom: 2.5rem;
  }

  .Date {
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
  }

  .Date p {
    font-size: 30px;
    position: relative;
    right: 1.8rem;
  }

  .Date h1 {
    font-size: 33px;
    position: relative;
    left: 0.2rem;
  }

  .Guadalajara {
    position: relative;
    bottom: 0.2rem;
  }

  .Counter {
    width: 44rem;
    position: relative;
    right: 0.8rem;
    height: 6.5rem;
  }

  .days1 {
    width: 4rem;
    position: relative;
    left: 2.8rem;
  }

  .days {
    font-size: 26px;
    width: 3.8rem;
    height: 3.8rem;
  }

  .days1 small {
    font-size: 20px;
  }

  .hours1 {
    width: 4rem;
    position: relative;
    left: 3rem;
  }

  .hours {
    font-size: 26px;
    width: 3.8rem;
    height: 3.8rem;
  }

  .hours1 small {
    font-size: 20px;
  }

  .minutes1 {
    width: 4rem;
    position: relative;
    left: 3.2rem;
  }

  .minutes {
    font-size: 26px;
    width: 3.8rem;
    height: 3.8rem;
  }

  .minutes1 small {
    font-size: 20px;
  }

  .seconds1 {
    width: 4rem;
    position: relative;
    left: 3.8rem;
  }

  .seconds {
    font-size: 26px;
    width: 3.8rem;
    height: 3.8rem;
  }

  .seconds1 small {
    font-size: 20px;
  }

  .Flowers img {
    width: 19rem;
    position: relative;
    left: 0.5rem;
    top: 1rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 73px;
    position: relative;
    left: 2rem;
  }

  .Schedule1 {
    position: relative;
    right: -1rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .CereImage img {
    width: 7.5rem;
  }

  .CereImage p {
    font-size: 27px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 28px;
  }

  .Ceremony {
    width: 40rem;
    position: relative;
    left: 0rem;
  }

  .Cheers {
    width: 40rem;
    position: relative;
    left: 0rem;
  }

  .CereText {
    width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -1.5rem;
  }

  .CereText h1 {
    font-size: 35px;
  }

  .CereText h2 {
    font-size: 30px;
  }

  .CereText p {
    font-size: 27px;
  }

  .p4 {
    width: 29rem;
  }

  .p5 {
    width: 29rem;
    position: relative;
    left: 2.5rem;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -1.5rem;
  }

  .CheersText h1 {
    font-size: 35px;
  }

  .CheersText h2 {
    font-size: 30px;
  }

  .CheersText p {
    font-size: 27px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 img {
    width: 19rem;
    position: relative;
    top: 1.5rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .Dressing {
    position: relative;
    bottom: 1rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 32rem;
    font-size: 73px;
    position: relative;
    right: 6.5rem;
  }

  .Formal {
    font-size: 21px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 7.5rem;
  }

  .Traje p {
    font-size: 24px;
  }

  .Dress img {
    width: 7.5rem;
  }

  .Dress p {
    font-size: 24px;
  }

  .Flowers3 img {
    width: 17rem;
    position: relative;
    bottom: 1rem;
  }

  .Presents {
    width: 18rem;
    position: relative;
    bottom: 1.2rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 1.5rem;
    left: 1.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 55px;
    width: 22rem;
  }

  .Presents p {
    font-size: 24px;
    width: 40rem;
    position: relative;
    bottom: 1.7rem;
  }

  .presents-table img {
    width: 13.5rem;
    height: 6.3rem;
    position: relative;
    right: 4rem;
    bottom: 2rem;
  }

  .presents-table {
    width: 20rem;
  }

  .liverpool {
    position: relative;
    left: 1.3rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 1.2rem;
  }

  .Fifth-Background {
    position: relative;
    left: 0rem;
  }

  .funny {
    position: relative;
    left: 0rem;
    width: 28rem;
  }

  .funny .attendance {
    font-size: 63px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 0.5rem;
  }

  .funny .phrase {
    font-size: 24px;
    position: relative;
    bottom: 0.4rem;
    width: 38rem;
  }

  .funny img {
    position: relative;
    width: 17rem;
  }

  .Form {
    width: 40rem;
    height: 24rem;
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
  }

  .Form form {
    width: 40rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0rem;
  }

  .confirmation input {
    background-color: red;
  }

  .options {
    display: flex;
  }

  .div label {
    font-size: 36px;
  }

  .div {
    position: relative;
    left: 2rem;
    width: 19rem;
    bottom: 1rem;
  }

  .input {
    width: 37rem;
    height: 3rem;
  }

  .div1 {
    width: 28rem;
    position: relative;
    left: 2rem;
    top: -0rem;
  }

  .div2 {
    width: 17rem;
  }

  .yes {
    width: 9rem;
    display: flex;
  }

  .no {
    width: 10rem;
    display: flex;
    position: relative;
    left: 2rem;
  }

  .yes label {
    font-size: 25px;
  }

  .no label {
    font-size: 25px;
  }

  #Si {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  #No {
    position: relative;
    right: -0.3rem;
    top: 0.2rem;
  }

  .input1 {
    width: 2rem;
  }

  .input2 {
    width: 2rem;
  }

  .div1 strong {
    font-size: 36px;
  }

  .div2 {
    position: relative;
    left: 2rem;
    top: 0.3rem;
  }

  .div2 label {
    font-size: 36px;
  }

  .Form button {
    position: relative;
    left: 2.2rem;
    width: 5.9rem;
    height: 3rem;
    font-size: 21px;
  }

  .funny1 {
    position: relative;
    left: 0rem;
    width: 18rem;
  }

  .funny1 img {
    width: 17rem;
  }

  .funny1 p {
    font-size: 22px;
    position: relative;
    bottom: -0.4rem;
    width: 32rem;
  }
}

@media (min-width: 992px) {
  .First-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 120vh;
  }

  .slider {
    width: 10px;
    height: 125vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 0rem;
    bottom: 5.1rem;
    background-color: black;
  }

  .slides img {
    max-width: 700px;
    height: 75vh;
    position: relative;
    top: 2.3rem;
    left: 9rem;
  }

  .navigation-manual {
    position: absolute;
    max-width: 700px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    max-width: 700px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }

  .slider {
    min-width: 992px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  .My-wedding {
    font-size: 80px;
    position: relative;
    bottom: 1.5rem;
    left: -3rem;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
  }

  .Date {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5rem;
    right: 2rem;
  }

  .Date p {
    font-size: 30px;
  }

  .Date h1 {
    position: relative;
    left: 1rem;
    font-size: 35.5px;
  }

  .Guadalajara {
    position: relative;
    right: 0rem;
  }

  .Counter {
    width: 55rem;
    height: 7.5rem;
    position: relative;
    top: 1rem;
    right: 1rem;
  }

  .days1 {
    position: relative;
    left: 3.5rem;
  }

  .days {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .days1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .hours1 {
    position: relative;
    left: 3.5rem;
  }

  .hours {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .hours1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .minutes1 {
    position: relative;
    left: 4.5rem;
  }

  .minutes {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .minutes1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .seconds1 {
    position: relative;
    left: 6rem;
  }

  .seconds {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .seconds1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .Flowers {
    position: relative;
    top: 2rem;
    left: -4rem;
    width: 17rem;
    height: 5rem;
  }

  .Flowers img {
    width: 23rem;
  }

  .Third-Background {
    display: flex;
    position: relative;
    left: 0rem;
  }

  .Schedule {
    font-size: 80px;
    position: relative;
    left: 0rem;
  }

  .Schedule1 {
    position: relative;
    right: -1.5rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 1.5rem;
  }

  .CereImage {
    position: relative;
    right: 1.5rem;
    width: 13rem;
  }

  .CereImage img {
    width: 8.3rem;
  }

  .CereImage p {
    font-size: 26px;
  }

  .p1 {
    font-size: 10px;
  }

  .CereImage a {
    font-size: 26px;
  }

  .Ceremony {
    width: 45rem;
    position: relative;
    left: 0rem;
  }

  .Cheers {
    width: 45rem;
    position: relative;
    left: 0rem;
  }

  .CereText {
    width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -1.5rem;
  }

  .CereText h1 {
    font-size: 35px;
  }

  .CereText h2 {
    font-size: 30px;
  }

  .CereText p {
    font-size: 28px;
  }

  .p4 {
    width: 29rem;
  }

  .p5 {
    width: 29rem;
    position: relative;
    left: 2.5rem;
  }

  .CheersText {
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -5.5rem;
  }

  .CheersText h1 {
    font-size: 35px;
  }

  .CheersText h2 {
    font-size: 30px;
  }

  .CheersText p {
    font-size: 28px;
  }

  .Presents {
    width: 35rem;
  }

  .Flowers2 {
    position: relative;
    bottom: 2rem;
  }

  .Flowers2 img {
    width: 23rem;
  }

  .Fourth-Background {
    position: relative;
    left: 0rem;
  }

  .Dressing {
    position: relative;
    bottom: 1.2rem;
  }

  .DressCode {
    position: relative;
    left: -1.6rem;
    width: 15rem;
  }

  .DressCode p {
    width: 35rem;
    font-size: 75px;
    position: relative;
    right: 8rem;
  }

  .Formal {
    font-size: 25px;
    position: relative;
    top: 2rem;
  }

  .Traje img {
    width: 7.3rem;
    position: relative;
    right: 3rem;
  }

  .Traje p {
    font-size: 24px;
    position: relative;
    right: 3rem;
  }

  .Dress img {
    width: 7.3rem;
    position: relative;
    left: 3rem;
  }

  .Dress p {
    font-size: 24px;
    position: relative;
    left: 3rem;
  }

  .Flowers3 img {
    width: 19rem;
    position: relative;
    bottom: 1.2rem;
  }

  .Presents {
    width: 18rem;
    position: relative;
    bottom: 2.1rem;
  }

  .Presents .p-presents {
    position: relative;
    bottom: 1.2rem;
    left: 2.2rem;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    width: 32rem;
  }

  .Presents p {
    font-size: 27px;
    width: 50rem;
    position: relative;
    bottom: 1.7rem;
  }

  .presents-table img {
    width: 16.5rem;
    height: 7.3rem;
    position: relative;
    right: 8rem;
    bottom: 2rem;
  }

  .presents-table {
    width: 20rem;
  }

  .liverpool {
    position: relative;
    left: 0.3rem;
    top: 0.5rem;
  }

  .amazon {
    position: relative;
    top: 0.7rem;
    right: 0.2rem;
  }

  .Fifth-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  .funny .attendance {
    font-size: 70px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 1.5rem;
    left: 0.5rem;
    width: 29rem;
  }

  .funny img {
    width: 19rem;
  }

  .funny .phrase {
    font-size: 1.4rem;
    width: 46rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.2rem;
  }

  .Form {
    width: 48rem;
    height: 28rem;
    position: relative;
    top: -0.7rem;
  }

  .Form form {
    position: relative;
    right: 3rem;
  }

  .Form strong {
    font-size: 2.4rem;
  }

  .Form input {
    height: 2.5rem;
    width: 42rem;
  }

  .div {
    position: relative;
    bottom: 0.7rem;
    width: 20rem;
  }

  .div1 {
    position: relative;
    bottom: -0.2rem;
  }

  .options {
    display: flex;
    position: relative;
    top: 0.2rem;
  }

  .options input {
    width: 1.9rem;
    height: 1.9rem;
    position: relative;
    left: 1rem;
  }

  .options label {
    position: relative;
    bottom: -0.1rem;
    font-size: 1.65rem;
  }

  .no {
    position: relative;
    left: 3rem;
  }

  .div2 {
    position: relative;
    bottom: 0.5rem;
  }

  .funny1 {
    position: relative;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5d0rem;
  }

  .funny1 p {
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
    width: 38rem;
  }

  .funny1 img {
    position: relative;
    top: 0.2rem;
    width: 19rem;
  }

  .Form button {
    width: 6.7rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}
