@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Second-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 120vh;
}

.My-wedding {
  width: 240px;
  font-family: "Great Vibes", cursive;
  font-size: 65px;
}

.Wedding {
  margin-left: 7rem;
}

.Date {
  font-size: 20px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
}

.Date p {
  margin-left: 5rem;
  font-size: 18px;
}

.Date h1 {
  font-size: 35px;
}

.dos {
  margin-left: 6rem;
}

.Counter {
  width: 38rem;
  height: 6rem;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 25px;
  margin-left: 2rem;
  background-color: rgba(128, 128, 128, 0.108);
}

.days1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.days {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.hours1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.hours {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.minutes1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.minutes {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.seconds1 {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.seconds {
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.Flowers img {
  width: 18rem;
}

.Third-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 120vh;
}

.Schedule {
  width: 240px;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  margin-bottom: 2rem;
}

.Ceremony {
  display: flex;
}

.Ceremony a {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.CereText {
  font-size: 20px;
  width: 17rem;
}

.CereImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CereImage img {
  width: 6rem;
}

.CereText h1 {
  font-size: 30px;
}

.CereImage a:hover {
  color: rgb(11, 11, 112);
}

.CereImage button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.Cheers {
  display: flex;
}

.Cheers a {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.Cheers a:hover {
  color: rgb(11, 11, 112);
}

.CheersText {
  font-size: 20px;
  width: 17.5rem;
}

.CheersText h1 {
  font-size: 32px;
}

.p1 {
  font-size: 20px;
}

.p2 {
  font-size: 20px;
  cursor: pointer;
}

.p3 {
  font-size: 19px;
}

.p4 {
  font-size: 20px;
}

.Flowers1 img {
  width: 18rem;
}

.Fourth-Background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
  min-height: 120vh;
}

.DressCode {
  width: 425px;
  font-family: "Great Vibes", cursive;
  font-size: 29px;
  margin-bottom: 2rem;
}

.Dressing {
  display: flex;
}

.Traje {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Traje img {
  width: 6rem;
}

.Formal {
  font-size: 16px;
}

.Dress {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Dress img {
  width: 6rem;
}

.Presents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.Presents h1 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.Presents p {
  font-size: 22px;
}

.presents-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.liverpool img {
  height: 6rem;
  width: 17rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.liverpool :hover {
  transform: scale(1.15);
}

.amazon img {
  height: 6rem;
  width: 17rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.amazon :hover {
  transform: scale(1.15);
}

.Fifth-Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
}

.funny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funny img {
  width: 15rem;
}

.funny h1 {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
}

.funny p {
  font-size: 20px;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  margin-left: 5rem;
  height: 20rem;
  background-color: rgba(128, 128, 128, 0.096);
}

.Form form {
  width: 40rem;
}

.Form button {
  width: 4rem;
  height: 1.8rem;
}

.name {
  font-size: 2.7rem;
}

.confirmation {
  font-size: 1rem;
}

.middle {
  font-size: 2.7rem;
}

.input {
  width: 40rem;
  height: 2rem;
  border-radius: 6px;
  padding-left: 1rem;
}

.funny1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
}

.funny1 p {
  font-size: 20px;
}

.funny1 img {
  width: 15rem;
}


@media (max-width: 320px){
  

    .Second-Background{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .My-wedding{
      font-size: 52px;
      position: relative;
      left: 0.7rem;
      bottom: 2.5rem;
    }

    .Date {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 2rem;
    }

    .Date p{
      font-size: 21px;
      position: relative;
      right: 2rem;
    }

    .Date h1{
      font-size: 23px;
      position: relative;
      left: 0.2rem;
    }

    .Guadalajara {
      position: relative;
      bottom: 0.2rem;
    }


    .Counter {
      width: 18rem;
      position: relative;
      right: 0.8rem;
    }

    .days1{
      width: 4rem;
    }

    .days {
      font-size: 18px;
      width: 2.7rem;
      height: 2.7rem;
    }

    .days1 small {
      font-size: 15px;
    }

    .hours1{
      width: 4rem;
    }

    .hours{
      font-size: 18px;
      width: 2.7rem;
      height: 2.7rem;
    }

    .hours1 small {
      font-size: 15px;
    }

    .minutes1 {
      width: 4rem;
    }

    .minutes{
      font-size: 18px;
      width: 2.7rem;
      height: 2.7rem;
    }

    .minutes1 small {
      font-size: 15px;
    }

    .seconds1 {
      width: 4rem;
    }

    .seconds{
      font-size: 18px;
      width: 2.7rem;
      height: 2.7rem;
    }

    .seconds1 small {
      font-size: 15px;
    }

    .Flowers img {
      width: 13rem;
      position: relative;
      left: 0.5rem;
    }


    .Third-Background {
      display: flex;
      position: relative;
      left: 0rem;
    }

    .Schedule {
      font-size: 55px;
      position: relative;
      left: 2rem;
    }

    .Schedule1 {
      position: relative;
      right: 0rem;
      width: 20rem;
    }

    .CereImage {
      position: relative;
      right: 1.5rem;
      width: 13rem;
    }

    .CereImage img{
      width: 4rem;
    }

    .CereImage p{
      font-size: 20px;
    }

    .p1 {
      font-size: 10px;
    }

    .CereImage a {
      font-size: 19px;
    }

    .Ceremony {
      width: 18rem;
      position: relative;
      left: 2rem;
    }

     .Cheers {
       width: 18rem;
      position: relative;
      left: 2rem;
      top: 0.7rem;
    }

    .CereText {
      width: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0.2rem;
    }

    .CereText h1{
      font-size: 18.5px;
    }

    .CereText h2{
      font-size: 16.5px;
    }

    .CereText p{
      font-size: 16px;
    }


    .CheersText {
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

     .CheersText h1{
       font-size: 18.5px;
    }

    .CheersText h2{
       font-size: 16.5px;
    }

    .CheersText p{
      font-size: 16.5px;
    }

    .Presents {
      width: 35rem;
    }

    .Flowers2 img {
      width: 13rem;
      position:relative;
      top: 1rem;
    }

     .Fourth-Background {
      position: relative;
      left: 0rem;
    }

    .DressCode {
      position: relative;
      left: -1.6rem;
      width: 15rem;
    }

    .DressCode p{
      width: 18rem;
      font-size: 41px;
    }

    .Formal {
      font-size: 15px;
      position: relative;
      top: 2rem;
    }

    .Traje img {
      width: 5rem;
    }

    .Traje p{
      font-size: 16px;
    }

    .Dress img {
      width: 5rem;
    }

    .Dress p{
      font-size: 16px;
    }

    .Presents {
      width: 18rem;

    }

    .Presents .p-presents{
      position: relative;
      bottom: 0.5rem;
      left: 1.2rem;
      font-family: "Great Vibes", cursive;
      font-size: 37px;
    }

    .Presents p{
      font-size: 20px;
      width: 18rem;
    }

    .presents-table img{
      width: 8rem;
      height: 5rem;
    }

    .liverpool {
      position: relative;
      left: 1.5rem;
      top: 0.5rem;
    }

    .amazon {
      position: relative;
      top: 0.7rem;
      right: 1rem;
    }

    .Fifth-Background {
      position: relative;
      left: 0rem;
      background-color: orange;
    }

    .funny {
      position: relative;
      left: 0rem;
      width: 18rem;
    }

    .funny img {
      position: relative;
    }

    .funny p {
      font-size: 10px;
    }

    .Form {
      position: relative;
      left: 0rem;
      background-color: yellow;
      width: 13rem;
    }

    .div .input {
      width: 18rem;
    }

    #Si{
      width: 18rem;
    }

    #No{
      width: 18rem;
    }

    .div2 .input {
      width: 18rem;
    }

    .Form form {
      width: 18rem;
      position: relative;
      right: 2rem;
      background-color: green;
    }

    .Form strong {
      font-size: 1rem;
    }

    .Form input{
      width: 20rem;
    }

    .funny1 {
      position: relative;
      left: 0rem;
      width: 18rem;
      background-color: blue;
    }

    .funny1 p {
      font-size: 10px;
    }
}

@media (min-width: 321px){
  

    .Second-Background{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .My-wedding{
      font-size: 57px;
      position: relative;
      left: 0.7rem;
      bottom: 2.5rem;
    }

    .Date {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 2rem;
    }

    .Date p{
      font-size: 23px;
      position: relative;
      right: 2rem;
    }

    .Date h1{
      font-size: 25px;
      position: relative;
      left: 0.2rem;
    }

    .Guadalajara {
      position: relative;
      bottom: 0.2rem;
    }


    .Counter {
      width: 19rem;
      position: relative;
      right: 0.8rem;
    }

    .days1{
      width: 4rem;
    }

    .days {
      font-size: 19px;
      width: 2.8rem;
      height: 2.8rem;
    }

    .days1 small {
      font-size: 16px;
    }

    .hours1{
      width: 4rem;
    }

    .hours{
      font-size: 19px;
      width: 2.8rem;
      height: 2.8rem;
    }

    .hours1 small {
      font-size: 16px;
    }

    .minutes1 {
      width: 4rem;
    }

    .minutes{
      font-size: 19px;
      width: 2.8rem;
      height: 2.8rem;
    }

    .minutes1 small {
      font-size: 16px;
    }

    .seconds1 {
      width: 4rem;
    }

    .seconds{
      font-size: 19px;
      width: 2.8rem;
      height: 2.8rem;
    }

    .seconds1 small {
      font-size: 16px;
    }

    .Flowers img {
      width: 14rem;
      position: relative;
      left: 0.5rem;
    }

    .Third-Background {
      display: flex;
      position: relative;
      left: 0rem;
    }

    .Schedule {
      font-size: 57px;
      position: relative;
      left: 2rem;
    }

    .Schedule1 {
      position: relative;
      right: 0rem;
      width: 20rem;
    }

    .CereImage {
      position: relative;
      right: 1.5rem;
      width: 13rem;
    }

    .CereImage img{
      width: 4rem;
    }

    .CereImage p{
      font-size: 22px;
    }

    .p1 {
      font-size: 10px;
    }

    .CereImage a {
      font-size: 20px;
    }

    .Ceremony {
      width: 18rem;
      position: relative;
      left: 2rem;
    }

     .Cheers {
       width: 18rem;
      position: relative;
      left: 2rem;
      top: 0.7rem;
    }

    .CereText {
      width: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0.2rem;
    }

    .CereText h1{
      font-size: 20px;
    }

    .CereText h2{
      font-size: 18px;
    }

    .CereText p{
      font-size: 17px;
    }


    .CheersText {
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

     .CheersText h1{
       font-size: 20px;
    }

    .CheersText h2{
       font-size: 18px;
    }

    .CheersText p{
      font-size: 17px;
    }

    .Presents {
      width: 35rem;
    }

    .Flowers2 img {
      width: 14.5rem;
      position:relative;
      top: 1.5rem;
    }

      .Fourth-Background {
      position: relative;
      left: 0rem;
    }

    .DressCode {
      position: relative;
      left: -1.6rem;
      width: 15rem;
    }

    .DressCode p{
      width: 18.5rem;
      font-size: 42px;
    }

    .Formal {
      font-size: 16px;
      position: relative;
      top: 2rem;
    }

    .Traje img {
      width: 5.5rem;
    }

    .Traje p{
      font-size: 18px;
    }

    .Dress img {
      width: 5.5rem;
    }

    .Dress p{
      font-size: 18px;
    }

    .Presents {
      width: 18rem;

    }

    .Presents .p-presents{
      position: relative;
      bottom: 0.5rem;
      left: 1.2rem;
      font-family: "Great Vibes", cursive;
      font-size: 38px;
    }

    .Presents p{
      font-size: 20.5px;
      width: 18rem;
    }

    .presents-table img{
      width: 8.5rem;
      height: 5rem;
    }

    .liverpool {
      position: relative;
      left: 1.3rem;
      top: 0.5rem;
    }

    .amazon {
      position: relative;
      top: 0.7rem;
      right: 1.2rem;
    }

   
    .Fifth-Background {
      position: relative;
      left: 0rem;
      background-color: orange;
    }

    .funny {
      position: relative;
      left: 0rem;
      width: 18rem;
    }

    .funny img {
      position: relative;
    }

    .funny p {
      font-size: 10px;
    }

    .Form {
      position: relative;
      left: 0rem;
      background-color: yellow;
      width: 13rem;
    }

    .div .input {
      width: 18rem;
    }

    #Si{
      width: 18rem;
    }

    #No{
      width: 18rem;
    }

    .div2 .input {
      width: 18rem;
    }

    .Form form {
      width: 18rem;
      position: relative;
      right: 2rem;
      background-color: green;
    }

    .Form strong {
      font-size: 1rem;
    }

    .Form input{
      width: 20rem;
    }

    .funny1 {
      position: relative;
      left: 0rem;
      width: 18rem;
      background-color: blue;
    }

    .funny1 p {
      font-size: 10px;
    }
}

@media (min-width: 576px){
  

    .Second-Background{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .My-wedding{
      font-size: 63px;
      position: relative;
      left: 0.7rem;
      bottom: 2.5rem;
    }

    .Date {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 2rem;
    }

    .Date p{
      font-size: 26px;
      position: relative;
      right: 2rem;
    }

    .Date h1{
      font-size: 28px;
      position: relative;
      left: 0.2rem;
    }

    .Guadalajara {
      position: relative;
      bottom: 0.2rem;
    }


    .Counter {
      width: 32rem;
      position: relative;
      right: 0.8rem;
    }

    .days1{
      width: 4rem;
      position: relative;
      left: 1.3rem;
    }

    .days {
      font-size: 22px;
      width: 3.3rem;
      height: 3.3rem;
    }

    .days1 small {
      font-size: 16px;
    }

    .hours1{
      width: 4rem;
      position: relative;
      left: 1.3rem;
    }

    .hours{
      font-size: 22px;
      width: 3.3rem;
      height: 3.3rem;
    }

    .hours1 small {
      font-size: 16px;
    }

    .minutes1 {
      width: 4rem;
      position: relative;
      left: 1.5rem;
    }

    .minutes{
      font-size: 22px;
      width: 3.3rem;
      height: 3.3rem;
    }

    .minutes1 small {
      font-size: 16px;
    }

    .seconds1 {
      width: 4rem;
      position: relative;
      left: 2rem;
    }

    .seconds{
      font-size: 22px;
      width: 3.3rem;
      height: 3.3rem;
    }

    .seconds1 small {
      font-size: 16px;
    }

    .Flowers img {
      width: 16rem;
      position: relative;
      left: 0.5rem;
      top: 1rem;
    }

    .Third-Background {
      display: flex;
      position: relative;
      left: 0rem;
    }

    .Schedule {
      font-size: 63px;
      position: relative;
      left: 2rem;
    }

    .Schedule1 {
      position: relative;
      right: 0rem;
      width: 20rem;
    }

    .CereImage {
      position: relative;
      right: 1.5rem;
      width: 13rem;
    }

    .CereImage img{
      width: 5.5rem;
    }

    .CereImage p{
      font-size: 24px;
    }

    .p1 {
      font-size: 10px;
    }

    .CereImage a {
      font-size: 24px;
    }

    .Ceremony {
      width: 32rem;
      position: relative;
      left: -6rem;
    }

     .Cheers {
      width: 32rem;
      position: relative;
      left: -6rem;
    }

    .CereText {
      width: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0.2rem;
    }

    .CereText h1{
      font-size: 30px;
    }

    .CereText h2{
      font-size: 25px;
    }

    .CereText p{
      font-size: 22px;
    }


    .CheersText {
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

     .CheersText h1{
       font-size: 30px;
    }

    .CheersText h2{
       font-size: 25px;
    }

    .CheersText p{
      font-size: 22px;
    }

    .Presents {
      width: 35rem;
    }

    .Flowers2 img {
      width: 16.5rem;
      position:relative;
      top: 1.5rem;
    }

    
     .Fourth-Background {
      position: relative;
      left: 0rem;
      background-color: purple;
    }

    .DressCode {
      position: relative;
      left: 2rem;
      width: 15rem;
    }

    .DressCode p{
      width: 15rem;
    }

    .Presents {
      width: 18rem;
    }

    .Presents p{
      font-size: 20px;
      width: 18rem;
    }

    .presents-table img{
      width: 2rem;
    }

    .Fifth-Background {
      position: relative;
      left: 0rem;
      background-color: orange;
    }

    .funny {
      position: relative;
      left: 0rem;
      width: 18rem;
    }

    .funny img {
      position: relative;
    }

    .funny p {
      font-size: 10px;
    }

    .Form {
      position: relative;
      left: 0rem;
      background-color: yellow;
      width: 13rem;
    }

    .div .input {
      width: 18rem;
    }

    #Si{
      width: 18rem;
    }

    #No{
      width: 18rem;
    }

    .div2 .input {
      width: 18rem;
    }

    .Form form {
      width: 18rem;
      position: relative;
      right: 2rem;
      background-color: green;
    }

    .Form strong {
      font-size: 1rem;
    }

    .Form input{
      width: 20rem;
    }

    .funny1 {
      position: relative;
      left: 0rem;
      width: 18rem;
      background-color: blue;
    }

    .funny1 p {
      font-size: 10px;
    }
}

@media (min-width: 768px){
  

    .Second-Background{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .My-wedding{
      font-size: 73px;
      position: relative;
      left: 0.7rem;
      bottom: 2.5rem;
    }

    .Date {
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 2rem;
    }

    .Date p{
      font-size: 30px;
      position: relative;
      right: 1.8rem;
    }

    .Date h1{
      font-size: 33px;
      position: relative;
      left: 0.2rem;
    }

    .Guadalajara {
      position: relative;
      bottom: 0.2rem;
    }


    .Counter {
      width: 44rem;
      position: relative;
      right: 0.8rem;
      height: 6.5rem;
    }

    .days1{
      width: 4rem;
      position: relative;
      left: 2.8rem;
    }

    .days {
      font-size: 26px;
      width: 3.8rem;
      height: 3.8rem;
    }

    .days1 small {
      font-size: 20px;
    }

    .hours1{
      width: 4rem;
      position: relative;
      left: 3rem;
    }

    .hours{
      font-size: 26px;
      width: 3.8rem;
      height: 3.8rem;
    }

    .hours1 small {
      font-size: 20px;
    }

    .minutes1 {
      width: 4rem;
      position: relative;
      left: 3.2rem;
    }

    .minutes{
      font-size: 26px;
      width: 3.8rem;
      height: 3.8rem;
    }

    .minutes1 small {
      font-size: 20px;
    }

    .seconds1 {
      width: 4rem;
      position: relative;
      left: 3.8rem;
    }

    .seconds{
      font-size: 26px;
      width: 3.8rem;
      height: 3.8rem;
    }

    .seconds1 small {
      font-size: 20px;
    }

    .Flowers img {
      width: 19rem;
      position: relative;
      left: 0.5rem;
      top: 1rem;
    }


    .Third-Background {
      display: flex;
      position: relative;
      left: 0rem;
    }

    .Schedule {
      font-size: 73px;
      position: relative;
      left: 2rem;
    }

    .Schedule1 {
      position: relative;
      right: -1rem;
      width: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

   

    .CereImage img{
      width: 7.5rem;
    }

    .CereImage p{
      font-size: 27px;
    }

    .p1 {
      font-size: 10px;
    }

    .CereImage a {
      font-size: 28px;
    }

    .Ceremony {
      width: 40rem;
      position: relative;
      left: 0rem;
    }

     .Cheers {
      width: 40rem;
      position: relative;
      left: 0rem;
    }

    .CereText {
      width: 34rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -1.5rem;
    }

    .CereText h1{
      font-size: 35px;
    }

    .CereText h2{
      font-size: 30px;
    }

    .CereText p{
      font-size: 27px;
    }

    .p4 {
      width: 29rem;
    }

    .p5{
      width: 29rem;
      position: relative;
      left: 2.5rem;
    }


    .CheersText {
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -1.5rem;
    }

     .CheersText h1{
       font-size: 35px;
    }

    .CheersText h2{
       font-size: 30px;
    }

    .CheersText p{
      font-size: 27px;
    }

    .Presents {
      width: 35rem;
    }

    .Flowers2 img {
      width: 19rem;
      position:relative;
      top: 1.5rem;
    }


     .Fourth-Background {
      position: relative;
      left: 0rem;
      background-color: purple;
    }

    .DressCode {
      position: relative;
      left: 2rem;
      width: 15rem;
    }

    .DressCode p{
      width: 15rem;
    }

    .Presents {
      width: 18rem;
    }

    .Presents p{
      font-size: 20px;
      width: 18rem;
    }

    .presents-table img{
      width: 2rem;
    }

    .Fifth-Background {
      position: relative;
      left: 0rem;
      background-color: orange;
    }

    .funny {
      position: relative;
      left: 0rem;
      width: 18rem;
    }

    .funny img {
      position: relative;
    }

    .funny p {
      font-size: 10px;
    }

    .Form {
      position: relative;
      left: 0rem;
      background-color: yellow;
      width: 13rem;
    }

    .div .input {
      width: 18rem;
    }

    #Si{
      width: 18rem;
    }

    #No{
      width: 18rem;
    }

    .div2 .input {
      width: 18rem;
    }

    .Form form {
      width: 18rem;
      position: relative;
      right: 2rem;
      background-color: green;
    }

    .Form strong {
      font-size: 1rem;
    }

    .Form input{
      width: 20rem;
    }

    .funny1 {
      position: relative;
      left: 0rem;
      width: 18rem;
      background-color: blue;
    }

    .funny1 p {
      font-size: 10px;
    }
}


@media (min-width: 992px) {

   .App {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 992px;
        min-height: 120vh;
    }

  .Second-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  .My-wedding {
    font-size: 80px;
    position: relative;
    bottom: 1.5rem;
    left: -3rem;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
  }

  .Date {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5rem;
    right: 2rem;
  }

  .Date p {
    font-size: 30px;
  }

  .Date h1 {
    position: relative;
    left: 1rem;
    font-size: 35.5px;
  }

  .Guadalajara {
    position: relative;
    right: 0rem;
  }

  .Counter {
    width: 55rem;
    height: 7.5rem;
    position: relative;
    top: 1rem;
    right: 1rem;
  }

  .days1 {
    position: relative;
    left: 3.5rem;
  }

  .days {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .days1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .hours1 {
    position: relative;
    left: 3.5rem;
  }

  .hours {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .hours1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .minutes1 {
    position: relative;
    left: 4.5rem;
  }

  .minutes {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .minutes1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .seconds1 {
    position: relative;
    left: 6rem;
  }

  .seconds {
    font-size: 31px;
    width: 4rem;
    height: 4rem;
  }

  .seconds1 small {
    font-size: 25px;
    position: relative;
    top: 0.2rem;
  }

  .Flowers {
    position: relative;
    top: 2rem;
    left: -4rem;
    width: 17rem;
    height: 5rem;
  }

  .Flowers img {
    width: 23rem;
  }

  
    .Third-Background {
      display: flex;
      position: relative;
      left: 0rem;
    }

    .Schedule {
      font-size: 80px;
      position: relative;
      left: 0rem;
    }

    .Schedule1 {
      position: relative;
      right: -1.5rem;
      width: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      bottom: 1.5rem;
    }

    .CereImage {
      position: relative;
      right: 1.5rem;
      width: 13rem;
    }

    .CereImage img{
      width: 8.3rem;
    }

    .CereImage p{
      font-size: 26px;
    }

    .p1 {
      font-size: 10px;
    }

    .CereImage a {
      font-size: 26px;
    }

    .Ceremony {
      width: 45rem;
      position: relative;
      left: 0rem;
    }

     .Cheers {
      width: 45rem;
      position: relative;
      left: 0rem;
    }

    .CereText {
      width: 34rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -1.5rem;
    }

    .CereText h1{
      font-size: 35px;
    }

    .CereText h2{
      font-size: 30px;
    }

    .CereText p{
      font-size: 28px;
    }

    .p4 {
      width: 29rem;
    }

    .p5{
      width: 29rem;
      position: relative;
      left: 2.5rem;
    }


    .CheersText {
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -5.5rem;
    }

     .CheersText h1{
       font-size: 35px;
    }

    .CheersText h2{
       font-size: 30px;
    }

    .CheersText p{
      font-size: 28px;
    }

    .Presents {
      width: 35rem;
    }

    .Flowers2 {
      position: relative;
      bottom: 2rem;
    }

    .Flowers2 img {
      width: 23rem;
    }

  .Fourth-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }


  .DressCode {
    font-size: 75px;
    width: 33rem;
  }

  .Dressing {
    position: relative;
    bottom: 0.5rem;
  }

  .Formal {
    font-size: 1.1rem;
  }

  .Formal h1 {
    position: relative;
    top: 2.8rem;
  }

  .Dressing img {
    width: 7rem;
  }

  .Dressing p {
    font-size: 1.5rem;
  }

  .Traje {
    position: relative;
    right: 2rem;
  }

  .Dress {
    position: relative;
    left: 2rem;
  }


  .Presents h1 {
    font-size: 3.3rem;
    position: relative;
    bottom: 2.8rem;
    left: 0.2rem;
  }

  .Presents p {
    width: 49rem;
    font-size: 1.5rem;
    position: relative;
    bottom: 2.8rem;
  }

  .presents-table {
    position: relative;
    top: -1.52rem;
  }

  .presents-table img {
    width: 17rem;
    height: 7rem;
  }

  .Fifth-Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  .funny .attendance {
    font-size: 70px;
    font-family: "Great Vibes", cursive;
    position: relative;
    bottom: 1.5rem;
    left: 0.5rem;
  }

  .funny p{
    font-size: 1.4rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.6rem;
  }

  .Form {
    width: 48rem;
    height: 22rem;
    position: relative;
    bottom: 1.2rem;
  }

  .Form strong {
    font-size: 2.3rem;
  }

  .Form input{
    height: 2.2rem;
  }

  .div{
    position: relative;
    bottom: 0.7rem;
  }

  .div1 {
    position: relative;
    bottom: -0.2rem;
  }

  .options{
      display: flex;
      position: relative;
      top: 0.2rem;
  }

  .options input {
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    left: 0.3rem;
  }

  .options label {
    position: relative;
    bottom: 0.3rem;
    font-size: 1.25rem;
  }

  .no{
    position: relative;
    left: 3rem;
  }

  .div2 {
    position: relative;
    bottom: 0.5rem;
  }


  .funny1 {
    position: relative;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }

  .funny1 p{
    font-size: 1.5rem;
    position: relative;
    top: 0.3rem;
  }

  .funny1 img {
    position: relative;
    top: 0.1rem;
  }

  .Form button {
    width: 5rem;
    height: 2.3rem;
    font-size: 1rem;
  }

}

